<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Test page</title>
</head>
<body>
<div class="container">
    <div th:replace="demo/menu :: list">Menu comes here.</div>
    <div layout:fragment="content">
        <h1>Quantum Leap test moduleDependencies layout</h1>
        <p>This layout file is used for testing of Thymeleaf template decoration in Qunatum Leap project.</p>
    </div>
</div>
</body>
</html>