<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
</head>
<body>

<main layout:fragment="content">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-bell"></i>
            <span th:text="#{admin.title.notification}">Notification</span>
        </div>
        <div class="card-body">
            <form th:action="${#httpServletRequest.requestURI}" th:object="${notification}" method="post">
                <input type="hidden" th:if="*{id}" th:field="*{id}">
                <div class="mb-3 row">
                    <label th:for="email" class="col-form-label col-md-2"
                           th:text="#{admin.notification.message}">Message</label>
                    <div class="col-form-label col-md-10" th:utext="${#messages.msgWithParams(notification.definition.messageCode, notification.messageArguments)}">Message</div>
                </div>
                <div class="mb-3 row">
                    <label th:for="createdAt" class="col-form-label col-md-2" th:text="#{admin.notification.created-at}">Created at</label>
                    <div class="col-md-4">
                        <input id="createdAt" name="createdAt" th:value="${#temporals.format(notification.createdAt, 'yyyy-MM-dd''T''HH:mm')}" type="datetime-local" required="required" readonly="readonly" class="form-control">
                    </div>
                    <label th:for="resolvedAt" class="col-form-label col-md-2" th:text="#{admin.notification.resolved-at}">Resolved at</label>
                    <div class="col-md-4">
                        <input id="resolvedAt" name="resolvedAt" th:value="${#temporals.format(notification.resolvedAt, 'yyyy-MM-dd''T''HH:mm')}" type="datetime-local" readonly="readonly" class="form-control">
                    </div>
                </div>

                <div class="text-end">
                    <a th:href="@{/notifications}" class="btn btn-secondary" th:text="#{admin.cancel}">Cancel</a>
                    <input th:if="*{resolvedAt == null}" type="submit" class="btn btn-success" name="resolve" th:value="#{admin.notification.resolve}">
                </div>
            </form>
        </div>
    </div>
</main>

</body>
</html>
