<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
</head>
<body>

<div layout:fragment="content">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user"></i>
            <span th:text="#{admin.title.notification}">Notification</span>
        </div>
        <div class="card-body">
            <form th:action="${#httpServletRequest.requestURI}" th:object="${notification}" method="post">
                <input type="hidden" th:if="*{id}" th:field="*{id}">
                <div class="form-group row">
                    <label th:for="email" class="col-form-label col-md-2"
                           th:text="#{admin.notification.message}">Message</label>
                    <div class="col-form-label col-md-10" th:utext="${#messages.msgWithParams(notification.definition.messageCode, notification.messageArguments)}">Message</div>
                </div>
                <div class="form-group row">
                    <label th:for="name" class="col-form-label col-md-2" th:text="#{admin.notification.created-at}">Created at</label>
                    <div class="col-form-label col-md-4" th:text="*{createdAt}">123</div>
                    <label th:for="name" class="col-form-label col-md-2" th:text="#{admin.notification.resolved-at}">Resolved at</label>
                    <div class="col-form-label col-md-4" th:text="*{resolvedAt}">123</div>
                </div>

                <div class="text-right">
                    <a th:href="@{/notifications}" class="btn btn-secondary" th:text="#{admin.cancel}">Cancel</a>
                    <input th:if="*{resolvedAt == null}" type="submit" class="btn btn-success" name="resolve" th:value="#{admin.notification.resolve}">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
