<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
</head>
<body>

<main layout:fragment="content">
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="d-none d-sm-block col-sm-4 mb-3 mb-sm-0">
                    <i class="fas fa-users"></i>
                    <span th:text="#{admin.table.title.core.people}">Table</span>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0" th:insert="admin/components/slice-query-field::query"></div>
                <div class="col-sm-4">
                    <a th:href="@{|/person|}" class="btn btn-success btn-sm float-right"
                       th:text="#{admin.table.title.new-record}">New record</a>
                </div>
            </div>
        </div>
        <div class="card-body table-container">
            <div class="table-responsive" th:insert="admin/components/table::table">
            </div>
        </div>
    </div>
</main>

</body>
</html>
