<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
</head>
<body>

<div layout:fragment="content">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user"></i>
            <span th:text="#{admin.title.person}">Person</span>
        </div>
        <div class="card-body">
            <form th:action="${#httpServletRequest.requestURI}" th:object="${person}" method="post">
                <input type="hidden" th:if="*{id}" th:field="*{id}">
                <div class="form-group row">
                    <label th:for="email" class="col-form-label col-md-4"
                           th:text="#{admin.person.email}">Email</label>
                    <div class="col-md-6">
                        <input th:field="*{email}" type="email" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label th:for="name" class="col-form-label col-md-4" th:text="#{admin.person.name}">Name</label>
                    <div class="col-md-6">
                        <input th:field="*{name}" class="form-control" th:placeholder="#{admin.person.name.placeholder}"
                               disabled>
                    </div>
                </div>

                <div class="text-right">
                    <a th:href="@{/people}" class="btn btn-secondary" th:text="#{admin.cancel}">Cancel</a>
                    <input type="submit" class="btn btn-success" value="Save" th:value="#{admin.save}">
                </div>
            </form>
        </div>
    </div>

    <div class="card mb-3" th:if="*{id}">
        <div class="card-header">
            <i class="fa fa-users"></i>
            <span th:text="#{admin.table.title.core.roles}">Table</span>

            <a th:href="@{|/person/${person.id}/person-role|}" class="btn btn-success btn-sm float-right"
               th:text="#{admin.table.title.new-record}"></a>
        </div>
        <div class="card-body table-container">
            <div class="table-responsive"
                 th:insert="admin/components/table::table(qualifier='personRole',databaseTableNameWithSchema=${personRoleDatabaseTableNameWithSchema},tableSlice=${personRoleTableSlice},detailUrl=${personRoleDetailUrl})">
            </div>
        </div>
    </div>
</div>

</body>
</html>
