<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
</head>
<body>

<main layout:fragment="content">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-user-tag"></i>
            <span th:text="#{admin.title.person-role}">Person-Role</span>
        </div>
        <div class="card-body">
            <form th:action="@{|/person/${personId}/person-role|}" th:object="${personRole}" method="post">
                <input type="hidden" th:if="*{id}" th:field="*{id}">

                <div th:if="${saved}" th:text="#{admin.saved-msg}" class="alert alert-success" role="alert">
                    Detail has been successfully saved!
                </div>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                    This is a danger alert—check it out!
                </div>

                <div class="mb-3 row">
                    <label for="personId" class="col-md-4 col-form-label"
                           th:text="#{admin.person-role.person}">Person</label>
                    <div class="col-md-6"
                         th:insert="admin/components/lookup-field::lookup(entityIdentifier='core.person',fieldId='personId',value=*{personId},modalTitle=#{admin.lookup.modal.title.people})">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="roleId" class="col-md-4 col-form-label" th:text="#{admin.person-role.role}">Role</label>
                    <div class="col-md-6"
                         th:insert="admin/components/lookup-field::lookup(entityIdentifier='core.role',fieldId='roleId',value=*{roleId},modalTitle=#{admin.lookup.modal.title.roles})">
                    </div>
                </div>

                <div class="text-end">
                    <a th:href="@{|/person/${personId}|}" class="btn btn-secondary" th:text="#{admin.cancel}">Cancel</a>
                    <input type="submit" class="btn btn-success" value="Save" th:value="#{admin.save}">
                </div>
            </form>
        </div>
    </div>
</main>

</body>
</html>
