<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
</head>
<body>

<main layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-id-card"></i>
            <span th:text="#{admin.table.title.core.role}">Table</span>
            <a th:href="@{|/role|}" class="btn btn-success btn-sm float-end" th:text="#{admin.table.title.new-record}"></a>
        </div>
        <div class="card-body table-container">
            <div class="table-responsive" th:insert="~{admin/components/slice::table}">
            </div>
        </div>
    </div>
</main>

</body>
</html>
