<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
</head>
<body>

<div layout:fragment="content" id="page-wrapper">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-id-card"></i>
            <span th:text="#{admin.title.role}">Role</span>
        </div>
        <div class="card-body">
            <form th:action="${#httpServletRequest.requestURI}" th:object="${role}" method="post">
                <input type="hidden" th:if="*{id}" th:field="*{id}">
                <div class="form-group row">
                    <label th:for="name" class="col-form-label col-md-4" th:text="#{admin.role.name}">Name</label>
                    <div class="col-md-6">
                        <input th:field="*{name}" class="form-control">
                    </div>
                </div>

                <div class="text-right">
                    <a th:href="@{/roles}" class="btn btn-secondary" th:text="#{admin.cancel}">Cancel</a>
                    <input type="submit" class="btn btn-success" value="Save" th:value="#{admin.save}">
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>
