.navbar .active {
    font-weight: bold;
    color: #fff !important;
}

.notifications.dropdown .dropdown-menu {
    min-width: 20rem;
}

.notifications.dropdown .dropdown-item {
    white-space: normal;
}

#loader {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 1000;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table th a {
    color: black;
}

.table-container {
    padding: 0;
}

.table-container .table {
    margin-bottom: 0;
}

.table th.sorting {
    position: relative;
    padding-right: 1em;
    vertical-align: middle;
}

.table th.sorting:after {
    position: absolute;
    right: 0.4em;
    top: 50%;
    transform: translateY(-50%);
    content: "\f0dc";
    color: #ccc;
    font-family: fontawesome;
}

.table th.sorting.asc:after {
    content: "\f0de";
    color: #000;
}

.table th.sorting.desc:after {
    content: "\f0dd";
    color: #000;
}

.wrap {
    white-space: normal;
}

.image .close {
    position: absolute;
    top: .5em;
    right: 1.25em;
}