#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.top-panel {
    margin-top: 20px;
}

.panel-heading {
    font-weight: bold;
}

label {
    font-weight: normal;
}

.table th a {
    color: black;
}

.table-container {
    padding: 0;
}

.table-cells-bordered th,
.table-cells-bordered td {
    border-right: 1px solid #ddd;
}

.table-cells-bordered th:last-child,
.table-cells-bordered td:last-child {
    border-right: none;
}

.dropdown-menu > li.disableditem {
    padding: 3px 20px;
    color: #999;
}

.wrap {
    white-space: normal;
}