.navbar .active {
    font-weight: bold;
    color: #fff !important;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table th a {
    color: black;
}

.table-container {
    padding: 0;
}

.table-container .table {
    margin-bottom: 0;
}

.table th.sorting:after {
    content: "\f0dc";
    color: #ccc;
    float: right;
    font-family: fontawesome;
}

.table th.sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

.table th.sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

.wrap {
    white-space: normal;
}