<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/layout/skeleton}">
<head>
    <link th:href="@{assets/css/entrance.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="vertical-center">
        <div class="text-center">
            <h1 class="cover-heading">Quantum Leap</h1>
            <p class="lead">Courage, Integrity, Commitment.</p>
            <p class="lead">
                <a th:href="@{/dashboard}" class="btn btn-lg btn-default">Enter</a>
            </p>
        </div>
    </div>
</div>
</body>

</html>
