<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--/*
    Template params:
        detailUrl
        lookupLabels ... Id, label map.
*/-->
<div class="dropdown-menu show" th:assert="${detailUrl},${lookupLabels}">
    <a class="dropdown-item" th:each="lookupLabel : ${lookupLabels}" th:data-id="${lookupLabel.key}" th:text="${lookupLabel.value}">Lookup label</a>
    <span class="dropdown-item disabled" th:if="${#maps.isEmpty(lookupLabels)}" th:text="${param.filter} ? #{admin.lookup-labels.no-records} + ' ' + ${param.filter} : #{admin.lookup-labels.empty}">
        No items found!
    </span>
</div>
</body>
</html>