<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--/*
    Template params:
        entityIdentifier ... Used in column name message `admin.table.<entityIdentifier>.<columnName>'
        tableSlice ... TableSlice object.
*/-->
<table class="table table-striped table-bordered table-hover data-table"
       th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
    <thead>
    <tr>
        <th th:each="column : ${tableSlice.getColumns()}"
            th:object="${column}"
            class="sorting"
            th:classappend="*{order} ? (*{order.direction.isAscending()} ? 'asc' : 'desc')">
            <a th:with="sortValue=*{name} + (*{order} and *{order.direction.isAscending()} ? ';desc' : '')"
               th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('sort', '__${sortValue}__').replaceQueryParam('offset').build()}"
               th:assert="${entityIdentifier}"
               th:text="${column.primaryKey} ? '#' : #{|admin.table.${entityIdentifier}.*{name}|}">Column name</a>
        </th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">
    <tr th:each="row : ${tableSlice}"
        th:with="primaryKeyColumn=${tableSlice.getColumns().?[primaryKey].get(0)}"
        th:data-id="${row.get(primaryKeyColumn)}">
        <td th:each="column : ${tableSlice.getColumns()}">
            <span th:if="${column.type != T(cz.quantumleap.core.data.transport.Lookup)"
                  th:text="${{row.get(column)}}"
                  th:remove="tag">Standard value</span>
            <span th:if="${column.type == T(cz.quantumleap.core.data.transport.Lookup)}"
                  th:text="${{row.get(column).label}}"
                  th:remove="tag">Lookup value</span>
        </td>
    </tr>
    <tr>
        <td th:colspan="${1 + tableSlice.getColumns().size()}" th:text="#{admin.table.empty}">
            No data found!
        </td>
    </tr>
    </tbody>
    <tfoot th:if="${tableSlice.canExtend()}">
    <tr>
        <td class="text-center" th:colspan="${1 + tableSlice.getColumns().size()}">
            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('size', '__${tableSlice.extend().size}__').build()}"
               class="btn btn-outline-secondary btn-sm btn-load-more">Load more</a>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>
