<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--/*
    Template params:
        entityIdentifier ... Used to identify the lookup and to get controller from LookupRegistry.
        fieldId ... Id of input field.
        fieldName ... Name of input field.
        value ... Value of the lookup.
        modalTitle ... Title of lookup modal window.
        queryPrefix ... Prefix prepend to every filter query (optional)
*/-->
<div th:fragment="lookup(entityIdentifier, fieldId, value, modalTitle)" class="lookup dropdown">
    <input type="hidden" th:name="${fieldName ?: fieldId}" th:value="${value}">
    <div class="input-group" th:with="lookupController=${@lookupRegistry.getControllerForEntityIdentifier(entityIdentifier)}">
        <input type="text" th:assert="${fieldId}" th:id="${fieldId}" th:value="${@lookupRegistry.getLabel(entityIdentifier, value)}" class="form-control"
               th:classappend="${#fields.hasErrors('__${fieldName ?: fieldId}__')}? 'is-invalid'"
               th:data-lookup-labels-url="@{${lookupController.getLookupLabelsUrl()}}"
               th:data-query-prefix="${queryPrefix}" autocomplete="off">
        <button th:hidden="${#strings.isEmpty(value)}" class="btn btn-outline-danger reset" type="button">
            <i class="fas fa-times"></i>
        </button>
        <button class="btn btn-outline-secondary" type="button"
                th:data-lookup-list-url="@{${lookupController.getLookupListUrl()}}"
                th:data-lookup-label-url="@{${lookupController.getLookupLabelUrl()}}">
            <i class="fas fa-search"></i>
        </button>
        <div class="invalid-feedback" th:each="err : ${#fields.errors('__${fieldName ?: fieldId}__')}" th:text="${err}">Error</div>
    </div>

    <div class="dropdown-menu">
    </div>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" th:assert="${modalTitle}" th:text="${modalTitle}">Modal Title</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
