<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--/*
    Template params:
        databaseTableNameWithSchema ... Used to identify the lookup and to get controller from LookupControllerManager.
        fieldName ... Name of input field.
        fieldId ... Id of input field.
        field ... Field of type Lookup.
        modalTitle ... Title of lookup modal window.
        queryPrefix ... Prefix prepend to every filter query (optional)
*/-->
<div th:fragment="lookup(databaseTableNameWithSchema, fieldName, fieldId, field, modalTitle)" th:assert="${field}"
     th:object="${field}" class="lookup dropdown">
    <input type="hidden" th:assert="${fieldName}" th:name="${fieldName}" th:value="${@jacksonObjectMapper.writeValueAsString(field)}">
    <div class="input-group" th:with="lookupController=${@lookupControllerManager.getControllerForTable(databaseTableNameWithSchema)}">
        <input type="text" th:assert="${fieldId}" th:id="${fieldId}" th:value="*{label}" class="form-control"
               th:data-lookup-labels-url="@{${lookupController.getLookupLabelsUrl()}}"
               th:data-query-prefix="${queryPrefix}" autocomplete="off">
        <div th:hidden="${#strings.isEmpty(field.id)}" class="input-group-prepend input-group-append reset-wrapper">
            <button class="btn btn-outline-danger" type="button">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"
                    th:data-lookup-list-url="@{${lookupController.getLookupListUrl()}}"
                    th:data-lookup-label-url="@{${lookupController.getLookupLabelUrl()}}">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <div class="dropdown-menu">
    </div>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" th:assert="${modalTitle}" th:text="${modalTitle}">Modal Title</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>