<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--/*
    Template params:
        qualifier ... In case more than one table is present on a page. It will be prepend in front of filtering or sorting query parameters.
        entityIdentifier ... Used in column name message `admin.table.<entityIdentifier>.<columnName>'
        slice ... Slice object.
        detailUrl ... Detail endpoint URL to which detail ID will be appended.
        cellTemplate__column name__ ... Fragment to replace the default cell template.
*/-->
<table th:fragment="table" th:assert="slice" class="table table-striped table-bordered table-hover data-table" th:data-qualifier="${qualifier}"
       th:with="templateTable=${T(cz.quantumleap.admin.web.TemplateHelper).createTemplateTable(qualifier,entityIdentifier,slice,detailUrl)}">
    <thead>
    <tr>
        <th th:each="column : ${slice.getColumns()}"
            th:object="${column}"
            class="sorting"
            th:classappend="*{order} ? (*{order.direction.isAscending()} ? 'asc' : 'desc') : ''">
            <a th:with="sortValue=*{name} + (*{order} and *{order.direction.isAscending()} ? ';desc' : '')"
               th:href="${#qlctx.requestUriBuilder().replaceQueryParam(templateTable.getSortParamName(), '__${sortValue}__').replaceQueryParam(templateTable.getOffsetParamName()).build()}"
               th:assert="${entityIdentifier}"
               th:text="${column.primaryKey} ? '#' : #{|admin.table.${entityIdentifier}.*{name}|}">Column name</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${slice}">
        <td th:each="column : ${slice.getColumns()}"
            th:with="value=${slice.getValue(column, row)},
                     primaryKey=${column.primaryKey && !#strings.isEmpty(detailUrl)},
                     lookup=${slice.isLookup(value)}"
            th:classappend="${primaryKey} ? 'primary-key'">
            <a th:if="${primaryKey}" th:href="@{|${detailUrl}/${value}|}"
               th:text="${{value}}">id</a>
            <a th:if="${lookup}"
               th:with="detailUrl=${@lookupRegistry.getControllerForEntityIdentifier(value.entityIdentifier).getDetailUrl()}"
               th:href="|${detailUrl}/${value.id}|"
               th:text="${{value.label}}">Lookup</a>
            <span th:if="${!primaryKey && !lookup && cellTemplate__${column.name}__ == null}"
                  th:text="${{value}}"
                  th:remove="tag">Standard column</span>
            <span th:replace="${__|cellTemplate${column.name}|__} ?: ~{}">Custom column</span>
        </td>
    </tr>
    <tr th:if="${slice.empty}">
        <td th:colspan="${1 + slice.getColumns().size()}" th:text="#{admin.table.empty}">
            No data found!
        </td>
    </tr>
    </tbody>
    <tfoot th:if="${slice.canExtend()}">
    <tr>
        <td class="text-center" th:colspan="${1 + slice.getColumns().size()}">
            <a th:href="${#qlctx.requestUriBuilder().replaceQueryParam(templateTable.getSizeParamName(), '__${slice.extend().size}__').build()}"
               class="btn btn-outline-secondary btn-sm btn-load-more">Load more</a>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>
