<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--/*
    Template params:
        qualifier ... In case more than one table is present on a page. It will be prepend in front of filtering or sorting query parameters.
        databaseTableNameWithSchema ... Used in column name message `admin.table.<databaseTableNameWithSchema>.<columnName>'
        tableSlice ... TableSlice object.
        detailUrl ... Detail endpoint URL to which detail ID will be appended.
*/-->
<table th:fragment="table" class="table table-striped table-bordered table-hover data-table"
       th:data-qualifier="${qualifier}" th:data-search-selector="${searchSelector}"
       th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)},templateTable=${T(cz.quantumleap.admin.web.TemplateHelper).createTemplateTable(qualifier,databaseTableNameWithSchema,tableSlice,detailUrl)}">
    <thead>
    <tr>
        <th th:each="column : ${tableSlice.getColumns()}"
            th:object="${column}"
            class="sorting"
            th:classappend="*{order} ? (*{order.direction.isAscending()} ? 'asc' : 'desc') : ''">
            <a th:with="sortValue=*{name} + (*{order} and *{order.direction.isAscending()} ? ';desc' : '')"
               th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam(templateTable.getSortParamName(), '__${sortValue}__').replaceQueryParam(templateTable.getOffsetParamName()).build()}"
               th:assert="${databaseTableNameWithSchema}"
               th:text="${column.primaryKey} ? '#' : #{|admin.table.${databaseTableNameWithSchema}.*{name}|}">Column
                name</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${tableSlice}">
        <td th:each="column : ${tableSlice.getColumns()}" th:classappend="${column.primaryKey} ? 'primary-key'">
            <a th:if="${column.primaryKey}"
               th:href="@{|${detailUrl}/${row.get(column)}|}"
               th:text="${{row.get(column)}}">id</a>
            <span th:if="${!column.primaryKey && column.type != T(cz.quantumleap.core.data.transport.Lookup) && column.type != T(cz.quantumleap.core.data.transport.EnumValue) && column.type != T(cz.quantumleap.core.data.transport.Set)}"
                  th:text="${{row.get(column)}}"
                  th:remove="tag">Standard value</span>
            <span th:if="${column.type == T(cz.quantumleap.core.data.transport.EnumValue)}"
                  th:text="${{row.get(column).label}}">
            </span>
            <span th:if="${column.type == T(cz.quantumleap.core.data.transport.Set)}">
                <span th:each="value : ${row.get(column).values}" th:text="${{value.label}}"></span>
            </span>
            <a th:if="${column.type == T(cz.quantumleap.core.data.transport.Lookup)}"
               th:with="detailUrl=${@lookupControllerManager.getControllerForTable(row.get(column).databaseTableNameWithSchema).getDetailUrl()}"
               th:href="|${detailUrl}/${row.get(column).id}|"
               th:text="${{row.get(column).label}}">Lookup value</a>
        </td>
    </tr>
    <tr th:if="${tableSlice.empty}">
        <td th:colspan="${1 + tableSlice.getColumns().size()}" th:text="#{admin.table.empty}">
            No data found!
        </td>
    </tr>
    </tbody>
    <tfoot th:if="${tableSlice.canExtend()}">
    <tr>
        <td class="text-center" th:colspan="${1 + tableSlice.getColumns().size()}">
            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam(templateTable.getSizeParamName(), '__${tableSlice.extend().size}__').build()}"
               class="btn btn-outline-secondary btn-sm btn-load-more">Load more</a>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>