<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--/*
    Template params:
        fieldName ... Name of input field.
        fieldId ... Id of input field.
        tags ... Comma separated string of selected tags.
        allTags ... List of all available tags.
*/-->
<div th:fragment="tags(fieldName, fieldId, tags, allTags)" th:assert="${fieldName},${fieldId},${tags},${allTags}" class="tags">
    <div class="input-group">
        <input type="text" th:name="${fieldName}" th:id="${fieldId}" th:value="${{tags}}" class="form-control" autocomplete="off">
        <button class="btn btn-outline-secondary" type="button" name="select-tags">
            <i class="fas fa-tags"></i>
        </button>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tags</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid tags-container">
                        <div class="form-check form-check-inline" th:each="tag: ${allTags}">
                            <input class="form-check-input" type="checkbox" th:id="|${tag}checkbox|" th:value="${tag}" th:checked="${#lists.contains(tags, tag)}">
                            <label class="form-check-label" th:for="|${tag}checkbox|" th:text="${tag}">tag</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" name="new-tag" autocomplete="off">
                        <button class="btn btn-outline-secondary" type="button" name="create-new-tag">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
