<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="test/layout">
<body>
<div layout:fragment="content">
    <h1 th:text="#{test.hello}">Translated!!!</h1>
    <!--<h1 th:text="#{unknown}">Translated!!!</h1>-->
    <p th:text="#{test.choice(0,0)}">There are 0 apples in 0 baskets.</p>
    <p th:text="#{test.choice(1,1)}">There is 1 apple in 1 basket.</p>
    <p th:text="#{test.choice(2,2)}">There are 2 apples in 2 baskets.</p>
    <p th:text="#{test.plural(0,0)}">There are 0 apples in 0 baskets.</p>
    <p th:text="#{test.plural(1,1)}">There is 1 apple in 1 basket.</p>
    <p th:text="#{test.plural(2,2)}">There are 2 apples in 2 baskets.</p>
    <p>...</p>
    <ul>
        <li th:each="testEntity : ${testEntities}" th:text="${testEntity.comment}"></li>
    </ul>
</div>
</body>
</html>