<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/demo.css}" rel="stylesheet">
</head>

<body>

<div class="vertical-center">
    <div class="text-center">
        <h1 class="cover-heading">Quantum Leap</h1>
        <p class="lead">Courage, Integrity, Commitment.</p>
        <p class="lead">
            <a th:href="@{/dashboard}" class="btn btn-lg btn-primary btn-google">
                <span class="fa fa-google"></span>
                Sign in with Google
            </a>
        </p>
    </div>
</div>

<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>
