<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:fragment="sidebar" class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Creative Tim
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="dashboard.html">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
